[submodule "Ph2_ACF"]
	path = Ph2_ACF
	url = https://gitlab.cern.ch/cms_tk_ph2/Ph2_ACF.git
	branch = Dev
[submodule "icicle"]
	path = icicle
	url = https://gitlab.cern.ch/icicle/icicle.git
	branch = 1.3.0-RC
[submodule "InnerTrackerTests"]
	path = InnerTrackerTests
	url = https://gitlab.cern.ch/cms_tk_ph2/inner-tracker-tests.git
	branch = master
[submodule "felis"]
	path = felis
	url = https://gitlab.cern.ch/sdemares/felis.git
