*.o
._*
*.un~
*~
Data
latex
html
html/
latex/
logs/
logs/*
*.raw
Results/
Results/**
ResultsGUI/*
MonitorResults/**
RunNumbers.dat
GoodRunNumbers.dat
*.log
core.*
Results
tags
.run_number.txt
settings/connections_186.xml
.ycm_extra_conf.py
.ycm_extra_conf.pyc
consoledump.log
src/test.cc
build/
myBuild/
runDir/
rundir*
ReadRootFile.py
core.*
FEH_PS*/
*.bin
*.bit
*.ltx
.vscode/*
pythonUtils/__pycache__/
RegisterDebugUtils/RegisterDifference
RegisterDebugUtils/BoardRegisterDifference
*.aux
*.fdb_latexmk
*.fls
*.out
*.synctex.gz
*.xdv
*.bbl
*.blg
*.bcf
*.run.xml