
[submodule "Ph2_ACF"]
	path = Ph2_ACF
	url = https://gitlab.cern.ch/cms_tk_ph2/Ph2_ACF.git
	branch = Dev
[submodule "icicle"]
	path = icicle
	url = https://gitlab.cern.ch/rdelossa/instrument-control-icicle-osu.git
	branch = master

[submodule "InnerTrackerTests"]
	path = InnerTrackerTests
	url = https://gitlab.cern.ch/cms_tk_ph2/inner-tracker-tests.git
