[submodule "power_supply"]
	path = power_supply
	url = https://gitlab.cern.ch/cms_tk_ph2/power_supply.git
	branch = developer
[submodule "Ph2_ACF"]
	path = Ph2_ACF
	url = https://gitlab.cern.ch/cms_tk_ph2/Ph2_ACF.git
	branch = Dev
[submodule "icicle"]
	path = icicle
	url = ssh://git@gitlab.cern.ch:7999/escobarf/icicle.git
	branch = dirigent
[submodule "XMLgenerator"]
	path = XMLgenerator
	url = https://github.com/CollinKa/XMLgenerator.git
