<?xml version="1.0"? encoding="UTF-8"?>
<Devices>
    <PowerSupply
        ID          =   "MyTTiEthernet"
        InUse       =   "No"
        Model       =   "TTi"
        Connection  =   "Ethernet"
	IPAddress   = 	"192.168.0.22"
        Port        =   "9221"
	Timeout	    =	"1"
	Series	    =	"TSX"
    >
    <Channel ID="main" Channel="1" InUse ="No"/>     <!-- Channel numbering starts from 1 /-->
    </PowerSupply>
    <PowerSupply 
        ID          =   "MyTTiSerial"
        InUse       =   "No"
        Model       =   "TTi" 
        Connection  =   "Serial"
	Port        =   "/dev/ttyUSB0"
	BaudRate    =	"9600"
	FlowControl =	"true"
	Parity	    =	"false"
	RemoveEcho  =	"false"
	Terminator  =	"\r\n"
	Suffix	    =	"\n"
	Timeout	    =	"1"
	Series	    =	"TSX"
    >
    <Channel ID="main" Channel="1" InUse ="No"/>     <!-- Channel numbering starts from 1 /-->
    <Channel ID="secondary" Channel="2" InUse ="No"/> <!-- Channel numbering starts from 1 /-->
    </PowerSupply>
    <PowerSupply
        ID          =   "my_CAENelsFastPS"
        InUse       =   "No"
        Model       =   "CAENelsFastPS" 
        Connection  =   "Ethernet"
        IPAddress   =   "169.254.181.100"
        Port        =   "10001"
    > 
    <Channel ID="Channel0" Channel="0" InUse ="No"/>
    </PowerSupply>
    <PowerSupply
        ID          =   "MyCAEN"
        InUse       =   "Yes"
        Model       =   "CAEN" 
        Connection  =   "Ethernet"
        IPAddress   =   "10.2.2.20"
        Port        =   "10001"
        UserName    =   "admin"
        Password    =   "admin"
    >
    <!--Channel ID=""        Slot=""  Channel=""  InUse =""    I0Set="A"   V0Set="V" Rup="V/sec" RDwn="V/sec" Trip="sec" RUpTime="msec" RDwTime="msec" UNVThr="0.0V" OVVThr="V"/-->
    <Channel ID="LV_Module10" Slot="4" Channel="0" InUse ="Yes" I0Set="1.1" V0Set="5." RUp="5" RDwn="5" Trip="11.1" RUpTime="100" RDwTime="100" UNVThr="0.0" OVVThr="7.0"/>
    <Channel ID="LV_Module11" Slot="4" Channel="1" InUse ="Yes" I0Set="1.2" V0Set="6." RUp="5" RDwn="5" Trip="11.2" RUpTime="100" RDwTime="100" UNVThr="0.0" OVVThr="8.0"/>
    <Channel ID="LV_Module12" Slot="4" Channel="2" InUse ="Yes" I0Set="1.3" V0Set="7." RUp="5" RDwn="5" Trip="11.2" RUpTime="100" RDwTime="100" UNVThr="0.0" OVVThr="9.0"/>
    <Channel ID="LV_Module13" Slot="4" Channel="3" InUse ="Yes" I0Set="1.1" V0Set="8." RUp="5" RDwn="5" Trip="11.1" RUpTime="100" RDwTime="100" UNVThr="0.0" OVVThr="10.0"/>
    <Channel ID="LV_Module14" Slot="4" Channel="4" InUse ="Yes" I0Set="1.2" V0Set="9." RUp="5" RDwn="5" Trip="11.2" RUpTime="100" RDwTime="100" UNVThr="0.0" OVVThr="11.0"/>
    <Channel ID="LV_Module15" Slot="4" Channel="5" InUse ="Yes" I0Set="1.3" V0Set="10." RUp="5" RDwn="5" Trip="11.2" RUpTime="100" RDwTime="100" UNVThr="0.0" OVVThr="12.0"/>
    <Channel ID="LV_Module16" Slot="4" Channel="6" InUse ="Yes" I0Set="1.1" V0Set="11." RUp="5" RDwn="5" Trip="11.1" RUpTime="100" RDwTime="100" UNVThr="0.0" OVVThr="13.0"/>
    <Channel ID="LV_Module17" Slot="4" Channel="7" InUse ="Yes" I0Set="1.2" V0Set="12." RUp="5" RDwn="5" Trip="11.2" RUpTime="100" RDwTime="100" UNVThr="0.0" OVVThr="14.0"/>
    <Channel ID="HV_Module1" Slot="5" Channel="0" InUse ="No" I0Set="100.3" V0Set="5" RUp="5" RDwn="5" Trip="12.0" RUpTime="100" RDwTime="100" UNVThr="0.0" OVVThr="300.0"/>
    </PowerSupply> 
    <PowerSupply
        ID          =   "MyRohdeSchwarz"
        InUse       =   "No"
        Model       =   "RohdeSchwarz" 
        Connection  =   "Ethernet"
        IPAddress   =   "192.168.0.210"
        Port        =   "5025"
    >
    <!--Channel ID=""        Channel=""  InUse =""    I0Set="A"   V0Set="V" Rup="V/sec" RDwn="V/sec" Trip="sec" RUpTime="msec" RDwTime="msec" UNVThr="0.0V" OVVThr="V"/-->
    <Channel ID="LV_Module1" Channel="0" InUse ="No" />
    <Channel ID="LV_Module2" Channel="1" InUse ="No" />
    <Channel ID="LV_Module3" Channel="2" InUse ="No" />
    </PowerSupply> 
    <PowerSupply
        ID          =   "MyIsegSHR4220"
        InUse       =   "No"
        Model       =   "IsegSHR4220" 
        Connection  =   "Ethernet"
        IPAddress   =   "192.168.1.201"
        Port        =   "10001"
    >
    <Channel ID="HV_Module1" Channel="0" InUse ="No" />
    <Channel ID="HV_Module2" Channel="1" InUse ="No" />
    <Channel ID="HV_Module3" Channel="2" InUse ="No" />
    <Channel ID="HV_Module4" Channel="3" InUse ="No" />
    </PowerSupply>
</Devices>
